/* fjern det her i din endelige fil.
indsæt username efter usr =
indsæt paswword efter pwd =
indsæt database url efter url =

Fjern .example fra filnavnet så den hedder application.properties
*/

usr = root
pwd = root
url = jdbc:mysql://localhost/example?serverTimezone=UTC
