<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html(pageTitle='WishLink - Login')">
</head>
<body>
<header th:replace="fragments/header.html"></header>



<h1>Enter your user credentials to log in</h1>
<form action="/login-validation" method="post">
    <input type="text" name="email" id="email" placeholder="email">
    <input type="text" name="pwd" id="pwd" placeholder="password">

    <button type="submit">Login</button>
</form>

</body>

<footer th:replace="fragments/footer.html"></footer>
</html>