<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html(pageTitle='WishLink - Login')">
</head>
<body>
<header th:replace="fragments/header.html"></header>


<main>
    <div class="center-wrapper">
        <div class="inner-wrapper">
            <h1>Enter your user credentials to log in</h1>
            <form action="/login-validation" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="email">

                <label for="pwd">Password</label>
                <input type="password" name="pwd" id="pwd" placeholder="password">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</main>
</body>

<footer th:replace="fragments/footer.html"></footer>
</html>