<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${email}"></h1>

<ul th:each="wishes: ${wishlist}">

    <li th:text="${wishes.title}"></li>
    <li th:text="${wishes.cmnt}"></li>
    <li th:text="${wishes.link}"></li>

    <li th:text="${wishes.id}"></li>


    <form method="post" th:action="@{/reserve-wish-validation(id=${wishes.id})}">
        <button th:if="${wishes.reserved == false}" type="submit">Not reserved</button>
        <li th:if="${wishes.reserved == true}">Reserved</li>
    </form>

</ul>


</body>
</html>