<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html(pageTitle='WishLink - Wishlist')">
</head>
<body>
<header th:replace="fragments/header.html"></header>

<div class="center-wrapper-view">
        <ul th:each="wishes: ${wishlist}">
            <div class="grid-container-view">
                <div class="grid-item">
                    <li th:text="${wishes.title}"></li>
                </div>

                <div class="grid-item">
                    <li th:text="${wishes.cmnt}"></li>
                </div>

                <div class="grid-item">
                    <li th:text="${wishes.link}"></li>
                </div>

                <div class="grid-item">
                    <form method="post" th:action="@{/reserve-wish-validation(id=${wishes.id})}">
                        <button th:if="${wishes.reserved == false}" type="submit">Reserve</button>
                        <li th:if="${wishes.reserved == true}">Reserved</li>
                    </form>
                </div>

            </div>

        </ul>
</div>
</body>
<footer th:replace="fragments/footer.html"></footer>
</html>