<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html(pageTitle='WishLink - Wishlist')">
</head>
<body>
    <header th:replace="fragments/header.html"></header>


<form action="/wishlist-validation" method="post">
    <p><span th:text="${session.username}"></span>'s Wish-list</p>

    <label for="title">Wish item: </label>

    <input type="text" id="title" name="title">

    <label for="cmnt">Comment: </label>
    <input type="textarea" id="cmnt" name="cmnt">

    <label for="link">Wish link: </label>
    <input type="text" id="link" name="link">

    <button type="submit">Add Wish</button>

    <ul th:each="wishes: ${session.wishlist}">
            <li th:text="${wishes.title}"></li>
            <li th:text="${wishes.cmnt}"></li>
            <li th:text="${wishes.link}"></li>
    </ul>

    <button >Share wishlist</button>
</form>

</body>

<footer th:replace="fragments/footer.html"></footer>
</html>