<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html(pageTitle='WishLink - Wishlist')">
</head>
<body>
    <header th:replace="fragments/header.html"></header>


<form action="" method="post">
    <p><span th:text="${session.username}"></span>'s Wish-list</p>
    <label for="wish-item">Wish item: </label>
    <input type="text" id="wish-item" name="wish-item">
    <label for="comment">Comment: </label>
    <input type="textarea" id="comment" name="comment">
    <label for="wish-link">Wish link: </label>
    <input type="text" id="wish-link" name="wish-link">
    <button>Add Wish</button>
    <ul>
        <li>HER SKAL ØNSKERNE TILFØJES NÅR MAN TRYKKER PÅ ADD WISH SOMEHOW MED THYMELEAF</li>
    </ul>
    <input type="submit" value="Share Wishlist">
</form>

</body>

<footer th:replace="fragments/footer.html"></footer>
</html>