<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html(pageTitle='WishLink - Wishlist')">
</head>
<body>
<header th:replace="fragments/header.html"></header>

<form action="/wishlist-validation" method="post">
    <p><span th:text="${username}"></span> Wish-list</p>

    <div class="grid-container">
        <div class="grid-item">
            <label for="title">Wish item: </label>
            <input type="text" id="title" name="title">

        </div>

        <div class="grid-item">
            <label for="cmnt">Comment: </label>
            <input type="textarea" id="cmnt" name="cmnt">
            <button id="add-wish-btn" type="submit">Add Wish</button>
        </div>

        <div class="grid-item">
            <label for="link">Wish link: </label>
            <input type="text" id="link" name="link">
        </div>

    </div>
    <ul th:each="wishes: ${wishlist}">
        <div class="grid-container">
            <div class="grid-item">
                <li th:text="${wishes.title}"></li>
            </div>

            <div class="grid-item">
                <li th:text="${wishes.cmnt}"></li>
            </div>

            <div class="grid-item">
                <li th:text="${wishes.link}"></li>
            </div>

        </div>

    </ul>
</form>

<div class="center-wrapper">
    <div class="share-btn">
        <a th:href="@{/shared-validation}">Share wishlist</a>
        <div th:if="${shared == true}">
            <a class="display-inline" th:href="@{http://52.58.78.245:8080/wishlink/view-wishlist(email=${email})}">http://localhost:8080/view-wishlist?email=
            <p class="display-inline" th:text="${email}"></p></a>
        </div>
    </div>
</div>

</body>

<footer th:replace="fragments/footer.html"></footer>
</html>